@tailwind base;
@tailwind components;
@tailwind utilities;

/* REMOVE DEFAULT WHITE SPACE */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.signature-alex {
  font-family: 'Alex Brush', cursive;
}

.ftx-outline {
  color: transparent;
  -webkit-text-stroke: 2px #a855f7;
  text-shadow: 0 0 15px rgba(168, 85, 247, 0.8);
  font-weight: 900;
}
