@tailwind base;
@tailwind components;
@tailwind utilities;

/* REMOVE DEFAULT WHITE SPACE */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.signature-alex {
  font-family: 'Alex Brush', cursive;
}